# configure cloud-init with NoCloud

datasource_list: [ NoCloud, None ]
datasource:
  NoCloud:
    fs_label: bootfs

power_state:
  delay: now
  mode: reboot
  message: Rebooting machine to enable usb gadget mode
  condition: test -f /etc/modules-load.d/usb-gadget.conf

network:
  config: disabled
